<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connect" connectionString="Data Source=DESKTOP-LO87I9R;Initial Catalog=OtobusOtomasyonu;Integrated Security=True" />
  <add name="OtobusOtomasyonuProjesiNTP.Properties.Settings.OtobusOtomasyonuConnectionString"
   connectionString="Data Source=DESKTOP-LO87I9R;Initial Catalog=OtobusOtomasyonu;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>