<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="connect" connectionString="Data Source=WIN-IM38HI1GTD6\SQLEXPRESS;Initial Catalog=OtobusOtomasyonu;Integrated Security=True" />
 </connectionStrings>
</configuration>